/* CSS style*/
body {
    background-color: lightblue;
    font-family: 'Orelega One';
  }
  /* headers*/
  h1, h2{
    color: #24319E;
    margin-top: 1vh;
    margin-left: 1cm;
    text-decoration: underline;
  }
  
  h3{
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  /* paragraphs*/
  p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    text-align: left;
  }
  ul{
      background-color: hsl(203, 44%, 50%);
      margin-top: 1cm;
      margin-bottom: 1cm;
      margin-left: 6mm;
      margin-right: 40vw;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 3rem;
      padding-right: 3rem;
      display: grid;
      grid-template-columns: 50px 50px 50px;
      grid-template-rows: 40px auto 40px; 
      gap: 5px 100px;
  }
  section {
      margin: 1cm 1cm 1cm 1cm;
      padding: 3em 1em 1em 1em;
      border-width: 0.8px;
      border-style: solid;
      border-color: midnightblue;
      border-radius: 10px;
  }
  form{
      background-color: rgb(96, 102, 128);
  }
  
  .entry3 {
      display: flex;
      flex-flow: column wrap;
      align-content: space-between;
      justify-content: flex-start;
  }
  summary {
      display:none;
  }
  fieldset {
      display: block;
  }
  button:hover {
    color: blue;
  }
  a:active {
    color: red;
  }
  
  @media (min-height: 300px), screen and (orientation: portrait){}